<app-nav-bar></app-nav-bar>

<br>
<!-- <div style="text-align: center"> -->
  
  <!-- <div>
  <button  class="btn btn-lg btn-primary" style="float: left" [disabled]="isDisabled" (click)="open(content)">Apply to College</button>
  <button style="float:right" class="btn btn-lg btn-primary" (click)="addToWatchList()">Add to WatchList</button>
  </div> -->
<!-- </div> -->
<!-- <br>
<br> -->
<h1 style="    width: 100%;text-align: center;font-size: 65px;">{{message}}</h1>
<br>
<div style="width: 90%; margin: auto;">
<div>
    <button  class="btn btn-lg btn-primary" style="float: left" [disabled]="isDisabled" (click)="open(content)">Apply to College</button>
    <button style="float:right" class="btn btn-lg btn-primary" (click)="addToWatchList()">Add to WatchList</button>
</div>
    <br>
    <br>
    <br>
    <br>

<div class="infoboxes">
  <!-- <label for="">Information</label> -->
<ngb-accordion #acc="ngbAccordion" activeIds="1,2,3">
  <ngb-panel id="1" title="Background Information">
    <ng-template ngbPanelContent>
      {{collegeList?.information}}
    </ng-template>
  </ngb-panel>
  <ngb-panel id="2" title="Academic Information">
    <ng-template ngbPanelContent>
      <label>Deadline: {{collegeList?.deadlines}}</label>
      <br>
      <label>Undergraduate Students: {{collegeList?.num_ugrads}}</label>
      <br>
      <label>Graduate Students: {{collegeList?.num_postgrads}}</label>
      <br>
      <label>Total Enrollment: {{collegeList?.num_students}}</label>
      <br>
      <label>Four Year Graduation Rate: {{collegeList?.yr_grad}}%</label>
      <br>
      <label>Academic Calander Type: {{collegeList?.a_calender}}</label>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="General Information" id="3">
    <ng-template ngbPanelContent>
      <label>Year Founded: {{collegeList?.found_year}}</label>
      <br>
      <label>Location: {{collegeList?.school_locat}}</label>
      <br>
      <label>Student Facaulty Ratio: {{collegeList?.stud_fac}}</label>
      <br>
      <label>Telephone: {{collegeList?.telephone}}</label>
      <br>
      <label>In-state tuition and fees: {{collegeList?.tuition_in}}</label>
      <br>
      <label>Out-of-state tuition and fees: {{collegeList?.tuition_out}}</label>
      <br>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
</div>
<br>


<div class="graphs">
  <label for="">Data Visulizations</label>
<div class="row" style="margin: auto">
    <div class="column">
        <div *ngIf="chart" style="width: 150%;">
            <canvas id="canvas">{{chart}}</canvas>
          </div>
    </div>
    <div class="column">
        <div *ngIf="chart5" style="width: 150%">
            <canvas id="canvas5">{{chart5}}</canvas>
        </div>
    </div>
    <div class="column">
        <div *ngIf="chart1" style="width: 150%">
            <canvas id="canvas1">{{chart1}}</canvas>
        </div>
    </div>
    <div class="column">
        <div *ngIf="chart3" style="width: 150%">
            <canvas id="canvas3">{{chart3}}</canvas>
        </div>
    </div>
    <div class="column">
        <div *ngIf="chart2" style="width: 150%">
            <canvas id="canvas2">{{chart2}}</canvas>
        </div>
    </div>
    <div class="column">
        <div *ngIf="chart4" style="width: 150%">
            <canvas id="canvas4">{{chart4}}</canvas>
        </div>
    </div>
  </div>

  </div>




<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Apply Page</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label>Major</label>
        <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]='major' [ngClass]="{'green' : toggleq0, 'red': !toggleq0}">
          <option>Accounting</option>
          <option>Actuarial Science</option>
          <option>Agriculture</option>
          <option>Animal Sciences</option>
          <option>Anthropology</option>
          <option>Applied Mathematics</option>
          <option>Art History</option>
          <option>Biochemistry</option>
          <option>Biology</option>
          <option>Chemical Engineering</option>
          <option>Chemistry</option>
          <option>Civil Engineering</option>
          <option>Computer Engineering</option>
          <option>Computer Science</option>
          <option>Economics</option>
          <option>Electrical Engineering</option>
          <option>English</option>
          <option>Environmental Sciences</option>
          <option>Finance</option>
          <option>Food Science</option>
          <option>Geography</option>
          <option>History</option>
          <option>Hotel, Restaurant, and Institutional Management</option>
          <option>Industrial Engineering</option>
          <option>Marine Biology</option>
          <option>Marketing</option>
          <option>Mathematics</option>
          <option>Mechanical Engineering</option>
          <option>Media Studies</option>
          <option>Media Studies</option>
          <option>Mineral Economics</option>
          <option>Nuclear Engineering</option>
          <option>Nursing</option>
          <option>Physics</option>
          <option>Pre-medicine</option>
          <option>Real Estate</option>
          <option>Sociology</option>
          <option>Statistics</option>
          <option>Telecommunications</option>
          <option>Theater</option>
        </select>
      </div>


      <!-- working on riight now -->

      <div *ngFor="let x of questions;let i = index;trackBy:customTrackBy">
        <label for="exampleFormControlTextarea1">{{x}}</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]='answers[i]' [ngClass]="{'green' : toggleq1, 'red': !toggleq1}"></textarea>
        <br>
      </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveAppl()">Save</button>
    <button class="btn btn-primary" (click)="submitAppl()">Submit</button>
  </div>
</ng-template>

<ng-template #contenttemp let-modal >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Comfirm Submisssion</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button class="btn btn-primary" id="cancel" name="Cancel" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="submitAppl()" style="float: right;">Submit</button>
  </div>

</ng-template>
</div>