input.ng-invalid.ng-touched {
  border: 1px solid red;
}
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.green {
  /* border: 1px solid red; */
}

.red {
  border: 1px solid red;
}
.infoboxes{
  width: 80%;
  max-width: 800px;
  margin: auto;
  float:left
}
.graphs{
  width: 50%;
  max-width: 800px;
  margin: auto;
  float: right;
}
.buttons{
  /* position:absolute;
  margin-top:100%;
  text-align:center; */
  float: right;

}
