<app-admin-nav-bar></app-admin-nav-bar>
<br>
<div style="width: 80%; max-width: 1000px;margin: auto;">
    <div >
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>ID</th>
            <th>Major</th>
            <th>GPA</th>
            <th>SAT</th>
            <th>ACT</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr>
                <td>1</td>
                <td>CS</td>
                <td>3.4</td>
                <td>1600</td>
                <td>34</td>
                <td class="text-center"><button type="button" class="btn btn-success">Accept</button><button type="button" class="btn btn-danger">Reject</button></td>
            </tr>
    </table>
    </div>
</div>
