<!-- <nav class="navbar navbar-dark bg-primary">
  <button  type="button" class="btn btn-success" (click)="toApplication()">Application</button>
  <h1 class="navbar-brand" style="font-size: 48px">CollegeApp.IO</h1>

  <form class="form-inline">
    <button (click)="onSignOut()" type="button" class="btn btn-danger">Sign Out</button>
  </form>
</nav> -->

<!-- <nav class="navbar navbar-dark bg-primary justify-content-between">
  <a class="navbar-brand" style="color: white;font-size: 24px;" (click)="home()">CollegeApp.IO</a>
  
  <form class="form-inline">
    
    <input (keyup.enter)="searchMethod()" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 415px;" id="typeahead-format" name ="collegeNameSearch" [(ngModel)]="collegeNameSearch" [ngbTypeahead]="search" [resultFormatter]="formatter" />
    <button  type="button" class="btn btn-success" (click)="toViewApplication()">View Application</button>
    <button  type="button" class="btn btn-success" (click)="toApplication()">Create Application</button>
    <button (click)="onSignOut()" type="button" class="btn btn-danger">Sign Out</button>
  </form>
</nav> -->

<nav class="navbar navbar-expand-lg  navbar-dark bg-primary" style="font-size: large;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" (click)="home()" style="font-size: xx-large;color: white;">CollegeApp.IO</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" (click)="toViewApplication()" >View Application</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" (click)="toApplication()" >Create Application</a>
        </li>      
      </ul>
      <input (keyup.enter)="searchMethod()" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 415px;" id="typeahead-format" name ="collegeNameSearch" [(ngModel)]="collegeNameSearch" [ngbTypeahead]="search" [resultFormatter]="formatter" />
      <button (click)="onSignOut()" type="button" class="btn btn-danger">Sign Out</button>
    </div>
  </nav>
