<!-- <nav class="navbar navbar-dark bg-primary">
  <button  type="button" class="btn btn-success" (click)="toApplication()">Application</button>
  <h1 class="navbar-brand" style="font-size: 48px">CollegeApp.IO</h1>

  <form class="form-inline">
    <button (click)="onSignOut()" type="button" class="btn btn-danger">Sign Out</button>
  </form>
</nav> -->

<nav class="navbar navbar-dark bg-primary justify-content-between">
  <a class="navbar-brand" style="color: white;font-size: 24px;" (click)="home()">CollegeApp.IO</a>
  <form class="form-inline">
    <button  type="button" class="btn btn-success" (click)="toCollegeInfo()">Update College Info</button>
    <button (click)="onSignOut()" type="button" class="btn btn-danger">Sign Out</button>
    <button (click)="onHistoricalData()" type="button" class="btn btn-info">Historical Data</button>
  </form>
</nav>
