<app-nav-bar></app-nav-bar>
<br>
<h1 style="    width: 100%;text-align: center;font-size: 50px;">View Applicaiton Details</h1>

<br>
<table style="width: 80%; max-width: 1000px;margin: auto; " class="table">
  <thead>
    <!-- <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr> -->
  </thead>
  <tbody>
    <tr>
      <th scope="row">First Name</th>
      <td>{{firstNameStr}}</td>
    </tr>
    <tr>
      <th scope="row">Last Name</th>
      <td>{{lastNameStr}}</td>
    </tr>
    <tr>
      <th scope="row">Handle</th>
      <td>{{handleStr}}</td>
    </tr>
    <tr>
      <th scope="row">Gender</th>
      <td>{{genderStr}}</td>
    </tr>
    <tr>
      <th scope="row">Birthday</th>
      <td>{{bdayStr}}</td>
    </tr>
    <tr>
      <th scope="row">Street</th>
      <td>{{streetStr}}</td>
    </tr>
    <tr>
      <th scope="row">City</th>
      <td>{{cityStr}}</td>
    </tr>
    <tr>
      <th scope="row">State</th>
      <td>{{stateStr}}</td>
    </tr>
    <tr>
      <th scope="row">Country</th>
      <td>{{countryStr}}</td>
    </tr>
    <tr>
      <th scope="row">Zip Code</th>
      <td>{{zipcodeStr}}</td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td>{{phoneStr}}</td>
    </tr>
    <tr>
      <th scope="row">Religion</th>
      <td>{{religionStr}}</td>
    </tr>
    <tr>
      <th scope="row">Race</th>
      <td>{{raceStr}}</td>
    </tr>
    <tr>
      <th scope="row">Nationality</th>
      <td>{{nationalityStr}}</td>
    </tr>
    <tr>
      <th scope="row">High School</th>
      <td>{{highschoolStr}}</td>
    </tr>
    <tr>
      <th scope="row">GPA</th>
      <td>{{gpaStr}}</td>
    </tr>
    <tr>
      <th scope="row">SAT</th>
      <td>{{satStr}}</td>
    </tr>
    <tr>
      <th scope="row">ACT</th>
      <td>{{actStr}}</td>
    </tr>
    <tr>
      <th scope="row">Number of Lanugages Taken</th>
      <td>{{numLanguages}}</td>
    </tr>
    <tr>
      <th scope="row">Number of APs Taken</th>
      <td>{{numAPs}}</td>
    </tr>
    <tr>
      <th scope="row">Have you participated in Athletic Clubs</th>
      <td>{{athleteStr}}</td>
    </tr>
    <tr>
      <th scope="row">Have you participated in Speech & Debate Clubs</th>
      <td>{{speechStr}}</td>
    </tr>
    <tr>
      <th scope="row">Have you participated in Arts Clubs</th>
      <td>{{artsStr}}</td>
    </tr>
    <tr>
      <th scope="row">Have you participated in Tech Clubs</th>
      <td>{{techStr}}</td>
    </tr>
    <tr>
      <th scope="row">Have you participated in Music Clubs</th>
      <td>{{musicStr}}</td>
    </tr>
    <tr>
      <th scope="row">Have you participated in Math & Science Clubs</th>
      <td>{{mathStr}}</td>
    </tr>
    <tr>
      <th scope="row">Number of Volunteer Hours</th>
      <td>{{volunteerHoursStr}}</td>
    </tr>


  </tbody>
</table>
