<!-- <base href="/home"> -->

<app-nav-bar></app-nav-bar>




<!-- <nav class="navbar navbar-dark bg-primary">
  <button  type="button" class="btn btn-success" (click)="toApplication()">Application</button>
  <h1 class="navbar-brand" style="font-size: 48px">CollegeApp.IO</h1>

  <form class="form-inline">
    <button (click)="onSignOut()" type="button" class="btn btn-danger">Sign Out</button>
  </form>
</nav> -->

<br>

<div style="text-align: center;">
      <form class="form-inline center" style="width: 500px; margin: 0 auto;" >
        <div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 415px;" id="typeahead-format" name ="collegeNameSearch" [(ngModel)]="collegeNameSearch" [ngbTypeahead]="search" [resultFormatter]="formatter" />
        <button class="btn btn-success" type="submit" (click)="searchMethod()">Search</button>
        </div>
        <div *ngIf="collegeNotThere">
          <div class="alert alert-danger" role="alert" style="width: 415px;">
            College is not found!
          </div>
        </div>
       
      </form>
</div>


<div class="watchlist">
  <!-- <app-watch-list></app-watch-list> -->
<label style="margin-left: 40px">Watch List</label>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let college of watchlist">
    <button (click)="removeFromWatchList(college)" style="float:right;margin-right: 10px"class="btn btn-danger" type="button" name="button">X</button>
    <div (click)="openCollege(college)">
        {{college}}
    </div>
  </li>
</ul>
</div>





<!-- <h1 style="padding-top: 10px;background-color: #0080ff; padding-bottom: 10px; text-align: center;">CollegeApp.IO <button class="btn btn-secondary float-right" (click)="onSignOut()">Sign Out</button></h1> -->

<div class="container">
    <div *ngFor="let hero of collegeList;let i = index">
        <ul >
            <li >
                <!-- <img src={{hero.image_link}} style="width:240px;height:240px;">
                <p><b>{{hero.collegeName}}</b></p> -->
                  <p style="height: 40px;">{{hero.collegename}}</p> 
                <ngb-carousel style="width:240px;height:240px;">
                  <ng-template ngbSlide>
                    <img (click)="openCollege(hero.collegename)" src={{hero.image_link}} alt="Random first slide" style="width:240px;height:240px;">
                    <!-- <div class="carousel-caption"> -->
                      <!-- <p>{{hero.collegename}}</p> -->
                    <!-- </div> -->
                    <div>
                    <button (click)="addToWatchList(hero.collegename)" style= "margin-left:50px; margin-bottom:10px; margin-top:3px"class="btn btn-primary" type="button" name="button">Add to watchlist</button>
                    </div>

                  </ng-template>



                </ngb-carousel>


            </li>
        </ul>
    </div>
</div>


