  .container ul {
   color: #E59934;
  }

  .container ul li {
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 5px;
   margin-bottom: 20px;
   padding:5px;
   width: 250px;
   height:360px;
   float: left;
   border: 1px solid lightgray;
   list-style:none;
   border-radius: 5px;

  }

  .container ul li:hover {
   border: 2px solid orange;
  }
  .watchlist{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
    /* padding-top:5px; */
    float: right;
    width: 250px;
    height: 1000px;
  }
  .recommendedList{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    /* padding-top:5px; */
    float: left;
    width: 250px;
    height: 1000px;

  }
