.thumb {
  position: relative;

  height: 220px;
  overflow: hidden;
}
#add-image {
  margin-top:10px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
}
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.modal-body {
  text-align: center;
  vertical-align: middle;
}
.img-modal {
   display: flex;
   align-items: center;
   justify-content: center;
}

.thumbnail:hover span.text-content {
  opacity: 1;
}
