

<base href="/home">

<app-nav-bar></app-nav-bar>

<!-- <nav class="navbar navbar-dark bg-primary">
  <button  type="button" class="btn btn-success" (click)="toApplication()">Application</button>
  <h1 class="navbar-brand" style="font-size: 48px">CollegeApp.IO</h1>

  <form class="form-inline">
    <button (click)="onSignOut()" type="button" class="btn btn-danger">Sign Out</button>
  </form>
</nav> -->

<br>

<div style="text-align: center;">
      <form class="form-inline center" style="width: 500px; margin: 0 auto;" >
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 415px;">
          <button class="btn btn-success" type="submit">Search</button>
      </form>
</div>







<!-- <h1 style="padding-top: 10px;background-color: #0080ff; padding-bottom: 10px; text-align: center;">CollegeApp.IO <button class="btn btn-secondary float-right" (click)="onSignOut()">Sign Out</button></h1> -->

<div class="container">
    <div *ngFor="let hero of collegeList;let i = index">
        <ul>
            <li (click)="openCollege(hero.collegeName)">
                <img src={{hero.image_link}} style="width:240px;height:240px;">
                <p><b>{{hero.collegeName}}</b></p>
                <!-- <h3>{{hero.collegeName}}</h3> -->
            </li>
        </ul>
    </div>
</div>
